os: osx
language: cpp
sudo: required
script: "./configure && make -j8 && cd .. && tar -czf opus.macOS.tar.gz opus"


deploy:
  provider: releases
  api_key: $GITHUB_OAUTH_TOKEN
  file: "../opus.macOS.tar.gz"
  on:
    tags: true